{% load static %}

<div>
    <h3>긴급 연락처</h3>
    <p style="display: flex; justify-content: space-between; color:red;">
        119 <span>소방/구급</span>
    </p>
    <p style="display: flex; justify-content: space-between; color:red;">
        112 <span>경찰</span>
    </p>
    <hr>
    <h3>주요 보험사</h3>
    <p style="display: flex; justify-content: space-between;">
        1588-5114 <span>삼성화재</span>
    </p>
    <p style="display: flex; justify-content: space-between;">
        1588-5656 <span>현대해상</span>
    </p>
    <p style="display: flex; justify-content: space-between;">
        1544-0114 <span>KB 손해보험</span>
    </p>
    <p style="display: flex; justify-content: space-between;">
        1588-0100 <span>DB 손해보험</span>
    </p>
    <p style="display: flex; justify-content: space-between;">
        1566-7711 <span>메리츠화재</span>
    </p>
    <p style="display: flex; justify-content: space-between;">
        1566-8000 <span>한화손해보험</span>
    </p>
    <p style="display: flex; justify-content: space-between;">
        1588-3344 <span>롯데손해보험</span>
    </p>
    <p style="display: flex; justify-content: space-between;">
        1688-1688 <span>흥국화재</span>
    </p>
    <p style="display: flex; justify-content: space-between;">
        1588-5959 <span>MG손해보험</span>
    </p>
</div>